@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body::-webkit-scrollbar{
        display: none;
    }
}
@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    
    .relative:hover .absolute{
        display: block;
    }

    .task-shadow{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .center{
        @apply flex justify-center items-center
    }
 }